<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>UI Playground</title>

    <link
        rel="stylesheet"
        th:href="@{/css/ui-playground.css}">
</head>

<body>

<main class="playground">

    <h1>006 Test</h1>

    <div class="grid grid--effect-altair">


        <!-- RECORD 1 -->

        <a href="#" class="grid__item">

            <div class="stack">

                <div class="stack__deco"></div>
                <div class="stack__deco"></div>
                <div class="stack__deco"></div>
                <div class="stack__deco"></div>

                <div class="stack__figure">

                    <img
                        class="stack__img"
                        src="/images/me.jpg"
                        alt="Album">

                </div>

            </div>


            <div class="grid__item-caption">

                <h3 class="grid__item-title">
                    Test Album
                </h3>

                <div class="column">
                    <span class="column__text">
                        Test Artist
                    </span>
                </div>

                <div class="column">
                    <span class="column__text">
                        2026
                    </span>
                </div>

            </div>

        </a>

        <!-- RECORD 1 -->

        <a href="#" class="grid__item">

            <div class="stack">

                <div class="stack__deco"></div>
                <div class="stack__deco"></div>
                <div class="stack__deco"></div>
                <div class="stack__deco"></div>

                <div class="stack__figure">

                    <img
                        class="stack__img"
                        src="/images/me.jpg"
                        alt="Album">

                </div>

            </div>


            <div class="grid__item-caption">

                <h3 class="grid__item-title">
                    Test Album
                </h3>

                <div class="column">
                    <span class="column__text">
                        Test Artist
                    </span>
                </div>

                <div class="column">
                    <span class="column__text">
                        2026
                    </span>
                </div>

            </div>

        </a>

        <!-- RECORD 1 -->

        <a href="#" class="grid__item">

            <div class="stack">

                <div class="stack__deco"></div>
                <div class="stack__deco"></div>
                <div class="stack__deco"></div>
                <div class="stack__deco"></div>

                <div class="stack__figure">

                    <img
                        class="stack__img"
                        src="/images/me.jpg"
                        alt="Album">

                </div>

            </div>


            <div class="grid__item-caption">

                <h3 class="grid__item-title">
                    Test Album
                </h3>

                <div class="column">
                    <span class="column__text">
                        Test Artist
                    </span>
                </div>

                <div class="column">
                    <span class="column__text">
                        2026
                    </span>
                </div>

            </div>

        </a>

    </div>

</main>


<script th:src="@{/js/anime.min.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>